body{
    height: 100vh;
    background: url(png-transparent-car-game-racing-thumbnail.png) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 60vh;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    margin: 0 auto;
}
#timer{
    width: 100%;
    font-size: 72px;
    align-items: center;
    margin: 0 auto;
    padding: 35px;
}
.buttons{
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
button{
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    padding: 10px;
    color: white;
}
#play{
    background-color: green;
}
#reset{
    background-color: red;
}